/* font-family: "VT323", monospace; */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 32px;
}

.header-links a {
    font-family: "VT323", monospace;
    font-size: 24px;
    text-decoration: none;
    color: #13731D;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 0;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.main-tittle {
    font-size: 44px;
    line-height: 44px;
    color: #020202;
    margin-top: 40px;

}

.main-description {
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
}

.main-button {
    background-color: #198524;
    text-decoration: none;
    color: #FFFF;
    padding: 13px 32px;
    border-radius: 13px;
    margin-top: 30px;
}

.sections {
    background-color: #000000;
    color: #FFFFFF;
}

section {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
}

.section-title-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.section-title {
    font-size: 38px;
}

.about-description-box {
    border: 1px solid #05B62C;
    padding: 50px 60px;
    margin-top: 45px;
}

.about-description {
    font-size: 18px;
    text-align: justify;
    line-height: 39px;
}

.about-line-box {
    height: 19px;
    background-color: #05B62C;

}

.project {
    display: flex;
    gap: 28px;
    padding: 60px 0px;
    align-items: certer;
}

.project-image-container {
    flex: 1;
}

.project-image {
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(112, 100, 100, 0.945);
}

.project-details-container {
    flex: 1;
    margin: auto 0;
}

.project-title-container {
    display: flex;
    gap: 18px;
    align-items: center;
}

.project-title {
    font-family: "VT323", monospace;
    color: #05B62C;
    font-size: 38px;
}

.project-description-container {
    background-color: rgba(225, 225, 225, 0.22);
    padding: 30px 24px;
    margin-top: 18px;
    border-radius: 8px;
}

.project-description {
    text-align: justify;
}

.project-buttons-container {
    display: flex;
    gap: 30px;
    margin-top: 18px;
}

.project-button {
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px 38px;
    font-weight: 700;
}

