/* font-family: "VT323", monospace; */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 32px;
}

.header-links a {
    font-family: "VT323", monospace;
    font-size: 24px;
    text-decoration: none;
    color: #13731D;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 0;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.main-tittle {
    font-size: 44px;
    line-height: 44px;
    color: #020202;
    margin-top: 40px;

}

.main-description {
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
}

.main-button {
    background-color: #198524;
    text-decoration: none;
    color: #FFFF;
    padding: 13px 32px;
    border-radius: 13px;
    margin-top: 30px;
}

.sections {
    background-color: #000000;
    color: #FFFFFF;
}

section {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
}

.section-title-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.section-title {
    font-size: 38px;
}

.about-description-box {
    border: 1px solid #05B62C;
    padding: 50px 60px;
    margin-top: 45px;
}

.about-description {
    font-size: 18px;
    text-align: justify;
    line-height: 39px;
}

.about-line-box {
    height: 19px;
    background-color: #05B62C;

}